* {
margin : 0;
padding : 0;
box-sizing: border-box;
font-family: 'helvetica neue';
}
html , body{
height : 100%;
width : 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    flex-direction: column;
    gap: 20px;
    background-color: #F7CB05;
}
#box{
    position: relative;
    height: 400px;
    width: 400px;
    border-radius: 10px; 
}

#box img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#box2 h1{
    background-color: #077DD6;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
}

button{
    padding: 30px 50px;
    color: white;
    background-color: crimson;
    border-radius: 10px;
    border: none;
}